:root {
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.wrapper {
  height: 100%;
  background-color: lightblue;

  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enemy-picker {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

.enemy-player,
.enemy-ai {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: lightgoldenrodyellow;
  width: 8rem;
  text-align: center;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.winner {
  border: 1px solid rgb(124, 195, 218);
  padding: 1rem;
  background-color: rgb(149, 208, 228);
  border-radius: 0.5rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  user-select: none;

  /* 
  Use JS to adjust this rule to appear when winner is decided.
  Maybe also add an alert().
  */
  transition: 200ms ease-in;

  opacity: 0;
}

.board {
  border-radius: 1rem;
  height: 30rem;
  width: 30rem;
  border: 1px solid rgb(124, 195, 218);
  background-color: rgb(149, 208, 228);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

  padding: 3rem;

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.box {
  background-color: lightyellow;
  border-radius: 0.5rem;
}

.footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer a {
  text-decoration: none;
}
